@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
body {
    background-color: #fff5e5;
    position: relative;
    height: 100vh;
}
.nav-container {
    padding: 15px;
}
h3 {
    font-family: "Poppins";
    color: #5a3e2b;
    text-align: left;
    font-size: 1.5rem;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li a {
    font-family: "Josefin sans";
    display: block;
    padding: 12px 15px;
    color: #5a3e2b;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 500;
    transition: 0.3s ease;
}
nav ul li a:hover {
    background-color: #e7a61a;
    color: #fff;
}

@media only screen and (min-width: 600px) {
   .col-s-1 {width: 8.33%;}
   .col-s-2 {width: 16.66%;}
   .col-s-3 {width: 25%;}
   .col-s-4 {width: 33.33%;}
   .col-s-5 {width: 41.66%;}
   .col-s-6 {width: 50%;}
   .col-s-7 {width: 58.33%;}
   .col-s-8 {width: 66.66%;}
   .col-s-9 {width: 75%;}
   .col-s-10 {width: 83.33%;}
   .col-s-11 {width: 91.66%;}
   .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
   .col-1 {width: 8.33%;}
   .col-2 {width: 16.66%;}
   .col-3 {width: 25%;}
   .col-4 {width: 33.33%;}
   .col-5 {width: 41.66%;}
   .col-6 {width: 50%;}
   .col-7 {width: 58.33%;}
   .col-8 {width: 66.66%;}
   .col-9 {width: 75%;}
   .col-10 {width: 83.33%;}
   .col-11 {width: 91.66%;}
   .col-12 {width: 100%;}
}
.logout-btn {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background-color: #b98d58;   /* coklat cream soft */
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.25s ease;
}

.logout-btn:hover {
    background-color: #86561a;   /* warna lebih gelap pas hover */
    transform: scale(1.03);
}
